{% extends 'base.html' %}
{% load static %}
{% block main  %}
<div class="row">
      <div class="col col col-lg-8 col-md-6 col-sm-4 mt-5 d-flex justify-content-center">
            <div class="card delete-page" style="width: 32rem;">
                  <div class="card-body">
                  <h4 class="card-title text-danger">Warning</h4>
                  <h3>データを削除してよろしいですか？</h3>
                  <form method="POST">
                        <div class="d-flex justify-content-center mt-5">
                        {% csrf_token %}
                        <button  action="" class="btn btn-danger btn-lg rounded-circle" type="submit">削除</button>
                        <a herf="{% url 'lifemanage:detail' user.pk  %}" class="btn btn-primary my-2">キャンセル</a> 
                  </form> 
                  </div>
                  <a href="{% url 'lifemanage:list' %}" class="text-primary a-delete">前のページへ</a> 
                  </div>
             </div>
      </div>
</div>
{% endblock  %}