{% extends 'base.html' %}
{% load static %}
{% block header %} 
{% include 'snippets/header.html' %}
{% endblock %}
{% block main %}
<div class="container-md index">
    <h2 class="chara_h2">昨日の生活習慣管理状態</h2> 
    <div class="col-6 col-md">
        <div class="card col col-md detail-page">
            <div class="card-body col-6 col-md">
                {% for obj in object_list %} 
                <table class="table col-6 col-md">
                    <thead>
                      <tr>
                        <th scope="col">日付</th>
                        <th scope="col">体重</th>
                        <th scope="col">BMI</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       <th scope="row">{{obj.created_at}}</th>
                        <td>{{obj.weight}}</td>
                        <td>{{obj.bmi}}</td> 
                      </tr>
                    </tbody>
                  </table>
                {% endfor %} 
            </div>
        </div>
    </div>  
</div>
{% endblock %}